/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/DSAProject/nbproject/private/
/Lab8/nbproject/private/
/midterm/nbproject/private/
/Lab 1/nbproject/private/
/Lab2/nbproject/private/
/Lab10/nbproject/private/
/Lab4/nbproject/private/
/Lab 4/nbproject/private/
/Lab9/nbproject/private/
/Lab5/nbproject/private/
/Lab6/nbproject/private/
/Lab7/nbproject/private/
/Lab10/build/
/Lab11/nbproject/private/
/Lab1/nbproject/private/
/DSAProject/build/
/DSAProject/dist/
*.class
